@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 30vmax;
}
h1{
    color: rgb(212, 217, 217);
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 20px;

}
#name{
    color: rgb(5, 101, 101);
    font-size: 30px;
}
#va{
    color: rgb(17, 135, 199);
    font-size: 30px;

}
#voice{
    width: 5vmax;
    display: none;
}
#btn{
    width: 40%;
    background: linear-gradient(to right,rgb(61, 202, 202),rgb(103, 103, 170));
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 2px 2px 10px rgb(61, 202, 202),2px 2px 10px rgb(103, 103, 170);
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(61, 202, 202),2px 2px 20px rgb(103, 103, 170);
    letter-spacing: 2px;
}